<template>
  <div>
    <slot />
    <Draggable
      class="list-group"
    >
      <div 
        class="task"
        v-for="option in listToDo" :key="option.name">
        <Task
            :task="option"
            :typeList="typeList"
            @remove="removeOption"
            @save="saveOption"
            :tags="tags"
        />
      </div>
    </Draggable>
  </div>
</template>

<script>
import Task from '@/components/task/Task.vue'
import Draggable from "vuedraggable";

export default {
  name: 'TaskList',
  components: {
      Task,
      Draggable
  },
  props:{
      typeList: {
          type: String,
          default: null,
          require: true
      },
      listToDo:{
          type: Array,
          default: function () {
            return []
          },
          require: true
      },
      tags: {
        type: Array,
        require: false
      }
  },
  methods: {
      removeOption(option){
        this.$emit('remove', option)
      },
      saveOption(option, newOption){
        this.$emit('save', option, newOption)
      },
  },
}
</script>

<style scoped>
div.task{
  height: auto;
  margin: 2px 0;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
</style>
