<template>
  <div class="flex">
      <div class="col-standard checkbox">
        <input
            type="checkbox"
            :name="task.name"
            :id="task.name"
            v-model="task.done">
      </div>
 
      <div class="col-standard list">
          <input 
              id="edit"
              type="text"
              v-if="task.toChange"
              v-model="newOption"
              @keyup.enter="saveOption(task)"
          >
          <p :class="{ done: task.done }" v-else>
              {{ task.name }}
          </p>
      </div>

      <div class="col-standard tags">
            <b-dropdown size="sm" id="dropdown-1" text="+" no-caret>
                <template #button-content>
                    <span>+</span>
                </template>
                <div v-for="tag in tags" :key="tag.name">
                    <b-dropdown-item
                        @click="addTag(tag)"
                        :active="tagsCorrectly.indexOf(tag) !== -1"
                        >{{tag.name}}</b-dropdown-item>
                </div>
            </b-dropdown>
          <Tags :tags="taskTags" :fontSize="0.7" padding="2px 4px"/>
      </div>
    
      <div class="col-standard action">
          <b-icon
            v-for="action in actionsToShow"
            :key="action.event"
            v-on:click="action.method(task)"
            :icon="action.icon" aria-hidden="true"
            :variant="action.variant"
            ></b-icon>
      </div>
  </div>
</template>

<script>
import Tags from '../Tags.vue'

export default {
  name: 'Task',
  components: {
      Tags,
  },
  props:{
    task: {
        type: Object,
        default: null,
        require: true
    },
    typeList: {
        type: String,
        default: null,
        require: true
    },
    tags: {
        type: Array,
        require: false
    }
  },
  data(){
    return {
        newOption: this.task.name,
        actions: [
            {
                event: 'editar',
                method: this.editOption,
                show: true,
                icon: 'pencil-fill',
                variant: "secondary"
            },
            {
                event: 'salvar',
                method: this.saveOption,
                show: false,
                icon: 'pencil-fill',
                variant: "secondary"
            },
            {
                event: 'excluir',
                method: this.removeOption,
                show: true,
                icon: "trash-fill",
                variant: "secondary"
            },
        ],
    }
  },
  computed:{
    actionsToShow(){
      if (this.typeList !== 'Done') {
          let actionsToShow = this.actions.filter(action => action.show == true)
          return actionsToShow
      }
          return []
    },
    taskTags(){
        return this.task.tags.map(tag => tag)
    },
    tagsCorrectly(){
        return this.taskTags.length === 0 ? [] :
        this.tags.filter(tag => {
            return (this.taskTags.filter(tagTask => tag.name === tagTask.name).length !== 0)
        })
    }
  },
  methods: {
    editOption(option){
      option.toChange = true
      this.actions[1].show = false
      this.actions[2].show = true
    },
    removeOption(option){
      this.$emit('remove', option)
    },
    saveOption(option){
      this.$emit('save', option, this.newOption)
      option.toChange = false
      this.actions[1].show = true
      this.actions[2].show = false
    },
    addTag(tag){
        let tagsCorrectly = this.tagsCorrectly
        let ind = tagsCorrectly.indexOf(tag)
        if (ind !== -1) {
            let index = this.task.tags.findIndex(tagTask => tagTask === tag)
            this.task.tags.splice(index, 1)
        } else {
            this.task.tags.push(tag)
        }
    }
  }
}
</script>

<style scoped>
div.flex{
    flex: 1;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

div.col-standard{
    width: 200px;
    padding: 0;
    border: none;
}
div.checkbox{
    width: 5%;
}
div.list{
    width: 60%;
}
div.action{
    padding: 0;
    margin: 0;
    width: 5%;
    display: flex;
    justify-content: space-between;
}
div.tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 30%;
}

p{
    margin: 0px 2px;
    text-align: start;
}
p.done{
    text-decoration-line: line-through;
    text-decoration-color: white;
}

input#edit{
    float: left;
    margin: 0px;
    padding: 2px;
    border: 0px;
    box-shadow: 0px 0.2px 0px #9c9c9c;
    font-size: 1em;
    color: #3b2323;
}
input:focus{
    box-shadow: 0px 0.2px 0px #9c9c9c;
    border: none;
    outline: 0;
}

button.actions{
    margin: 0px 4px;
    padding: 2px 5px;
    font-size: 0.70rem;
    background-color: rgba(255, 255, 255, 0);
    border: 0.1em solid #2c2c2c;
    border-radius: 2rem;
    transition: .5s ease-out;
}
button.remove{
    color: #f01616;
    background-color: rgba(255, 255, 255, 0);
    border-color: #f01616;
}
button.remove:hover{
    color: #ffffff;
    background-color: #f01616;
    border-color: #f01616;
}
button.save{
    color: #479b36;
    background-color: rgba(255, 255, 255, 0);
    border-color: #479b36;
}
button.save:hover{
    color:rgb(255, 255, 255);
    background-color: #479b36;
    border-color: #479b36;
}
</style>
