<template>
  <div class="container">
    <div class="col chart">
        <Donut :series="series" :labels="labels" :colors="colors" />
    </div>
    <div class="input">
        <Input @newOption="addNewOption"/>
    </div>
    <div class="tags">
        <Tags @actionTag="filterTags" :tags="tags" />
    </div>
    <div class="col list">
        <CheckList
            typeList="To Do"
            :listToDo="listToDo"
            v-on:save="save"
            v-on:remove="removeOption"
            :tags="tags"
        >
            <h3>A fazer</h3>    
        </CheckList>
        <Bar :progress="calculateProgress"/>
        <CheckList typeList="Done" :listToDo="listOfDone">
            <h3>Feito</h3>
        </CheckList>
    </div>
  </div>
</template>


<script>
import CheckList from '@/components/task/TaskList.vue'
import Input from '@/components/Input.vue'
import Bar from '@/components/Bar.vue'
import Donut from '@/components/Donut.vue'
import Tags from '@/components/Tags.vue'
export default {
  components: {
    CheckList,
    Input,
    Bar,
    Donut,
    Tags,
  },
  data(){
      return {
        list: [],
        newOption: null,
        tags: [
            {
                name: 'saúde',
                bColor: '#B051E8',
                color: '#ffffff',
                selected: false,
            },
            {
                name: 'trabalho',
                bColor: '#46E4E8',
                color: '#ffffff',
                selected: false,
            },
            {
                name: 'estudos',
                bColor: '#7CEB8D',
                color: '#ffffff',
                selected: false,
            },
            {
                name: 'pessoal',
                bColor: '#E85D7E',
                color: '#ffffff',
                selected: false,
            },
        ],
        tag: [],
      }
  },
  created() {
      const json = localStorage.getItem('monthlyTasks')
      const array = JSON.parse(json)
      this.list = Array.isArray(array) ? array : []
  },
  watch:{
    list: {
        deep: true,
        handler() {
            localStorage.setItem('monthlyTasks', JSON.stringify(this.list))
        },
    },
  },
  computed:{
      calculateProgress(){
          let feitas = this.listOfDone
          return ((feitas.length*1)/this.list.length)
      },
      filterList() {
        if (this.tag.length === 0){
            return this.list
        }
                
        let r = []
        this.list.forEach(option => {
            r.push(option.tags.map(opTag => {
                if (this.tag.findIndex(tag => opTag.name == tag.name) !== -1) {
                    return option
                }
                return {}
            }))
            let ind = this.list.indexOf(option)
            let index = r[ind].findIndex(op => op.name === option.name)
            
            if (index !== -1) {
                r[ind] = r[ind][index]
            }
            
        });
        return r
      },
      listOfDone() {
          return  this.filterForDone(true)
      },
      listToDo() {
          return this.filterForDone(false)
      },
      labels() {
        return this.countTags()[0].map(tag => tag.name)
      },
      series() {
        return this.countTags()[1]
      },
      colors() {
        return this.countTags()[0].map(tag => tag.bColor)
      },
  },
  methods: {
      addNewOption(newOption){
          let option = {
              toChange: false,
              name: newOption,
              done: false,
              tags: [
              ],
          }
          this.list.push(option)
          this.newOption = null
      },
      removeOption(option){
          let indexToRemove = this.list.indexOf(option)
          this.list.splice(indexToRemove, 1)
      },
      save(option, newOption){
          let index = this.list.indexOf(option)
          this.list[index].toChange = false
          this.list[index].name = newOption
      },
      filterForDone(isDone) {
          let list = this.filterList
          return list.filter(option => option.done == isDone)
      },
      countTags(){
        let tags = [...this.list.map(option => {
          return option.tags.map(tag => tag)
        })]
        tags = tags.flat()
        var tagsCount = []
        var conts = []
                
        tags.forEach(tag => {
            let ind = tagsCount.findIndex(tagc => tagc.name == tag.name )
			if (ind === -1) {
				tagsCount.push(tag)
				conts.push(1)
			} else {
				conts[ind] += 1
			}
		});
        return [tagsCount, conts]
      },
      filterTags(tagClicked) {
        this.tag = tagClicked
      }
  }
}
</script>


<style scoped>
div.container{
    margin: 20px auto;
    display: grid;
    grid-template-areas:
        "tags chart"
        "input chart"
        "list list";
    grid-template-columns: 65% 35%;
    grid-template-rows: 13vh 13vh 80vh;
    justify-content: center;
    justify-items: center;
}

.list{
    grid-area: list;
}
.chart{
    grid-area: chart;
}
.input{
    grid-area: input;
}
.tags{
    margin-top: 8px;
    grid-area: tags;
}

h3{
    text-align: initial;
    width: 90%;
    margin: 20px auto;
}
</style>
 