<template>
  <div>
    <b-progress
        :value="progress*100"
        max="100"
        height="0.5rem"
        variant="success"
        class="w-50 mb-3" />
  </div>
</template>

<script>
export default {
    props:{
        progress: {
            type: Number,
            require: true,
        }
    },
    data(){
        return{
            newOption: null
        }
    },
    methods: {
        action(){
            this.$emit('action')
        }
    }
}
</script>

<style scoped>
div{
    width: 100%;
    margin: 35px auto;
}
</style>