<template>
    <button
        :id="title"
        v-bind:style="{ backgroundColor: backgroundColor, color: textColor, borderColor: borderColor, width: width, fontSize: fontSize + 'em', padding: padding}"
        @click="action">{{ title }}
    </button>
</template>

<script>
export default {
    props:{
        title: {
            type: String,
            require: true,
        },
        bColor: {
            type: String,
            require: false,
            default: '#fff'
        },
        color: {
            type: String,
            require: false,
            default: '#F05226'
        },
        selected: {
            type: Boolean,
            require: false,
            default: false
        },
        width: {
            type: String,
            require: false,
            default: 'auto',
        },
        fontSize: {
            type: Number,
            require: false,
            default: 0.95,
        },
        padding: {
            type: String,
            require: false,
            default: '7px 14px'
        }
    },
    methods: {
        action(title){
            this.$emit('action', title)
        }
    },
    computed: {
        backgroundColor() {
            if (this.selected === true) {
                return this.color
            }
            return this.bColor
        },
        textColor() {
            if (this.selected === true) {
                return this.bColor
            }
            return this.color
        },
        borderColor() {
            if (this.selected === true) {
                return this.bColor
            }
            return this.color
        }
    }
}
</script>

<style scoped>
button {
    outline: none;
    font-size: 0.95rem;
    border: 1px solid;
    padding: 7px 14px;
    color: #F05226;
    background-color: #f7f7f7;
    border-radius: 2rem;
    cursor: pointer;
}
</style>