<template>
    <div id="chart">
        <apexchart
            type="donut"
            :options="chartOptions"
            :series="series"
            width="300px"
        >
        </apexchart>
    </div>
</template>

<script>
export default{
    props:{
        series: {
            type: Array,
            require: true
        },
        labels: {
            type: Array,
            require: true
        },
        colors: {
            type: Array,
            require: false,
            default: () => ["#B051E8", "#B051E8"]
        }
    },
    data(){
        return {
            chartOptions: {
                labels: this.labels,
                legend: {
                    position: 'left'
                },
                colors: this.colors,
                theme: {
                    palette: 'palette4'
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200,
                        },
                        legend: {
                            position: 'bottom'
                        }
                    }
                }],
            },
        }
    }
}
</script>
