<template>
    <div>
        <input
            type="text"
            placeholder="Nova tarefa"
            @keyup.enter="addNewOption"
            v-model="newOption">
        <Button @action="addNewOption" title='add'/>
    </div>
</template>

<script>
import Button from '@/components/Button.vue'

export default {
    components: {
        Button
    },
    data(){
        return{
            newOption: null
        }
    },
    methods: {
        addNewOption(){
            this.$emit('newOption', this.newOption)
            this.newOption = null
        }
    }
}
</script>

<style scoped>
input {
    outline: none;
    font-size: 1rem;
    border: none;    
    box-shadow: 0px 0.2px 0px #9c9c9c;
    padding: 4px;
    color: #252525d0;
    width: 400px;
    background-color: rgba(255, 255, 255, 0);
}
</style>