<template>
  <div>
    <div v-for="tag in tags" :key="tag.name">
        <Button
            @action="actionTag(tag)"
            :title="tag.name"
            :bColor="tag.bColor"
            :color="tag.color"
            :selected="tag.selected"
            :fontSize="fontSize"
            :padding="padding" />
    </div>
  </div>
</template>

<script>
import Button from '@/components/Button.vue'

export default {
    components: {
        Button
    },
    props: {
        tags: {
            type: Array,
            require: true,
            default: () => []
        },
        fontSize: {
            type: Number,
            require: false,
            default: 0.95,
        },
        padding: {
            type: String,
            require: false,
            default: '7px 14px'
        }
    },
    computed: {
        tagsSelected() {
            return this.tags.filter(tag => tag.selected === true)
        }
    },
    methods: {
        actionTag(tag){
            let index = this.tags.indexOf(tag)
            this.tags[index].selected = !tag.selected
            this.$emit('actionTag', this.tagsSelected)
        }
    }
}
</script>

<style scoped>
div{
    display: flex;
    justify-content: center;
    margin: auto 5px auto 5px;
    flex-wrap: wrap;
}
</style>